.form-field {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 3px;
}

.input-style {
  all: unset;
  border: 1px solid white;
  padding: 0.3rem;
  border-radius: 0.4rem;
}
